@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito {
  font-family: "Nunito", sans-serif;
}
.swiper-grid-column > .swiper-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row !important;
}

.swiper-grid-column > .swiper-slide {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-text {
  background: linear-gradient(180deg, #c4c4c4 0%, #7e7e7e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="number"].no-arrows::-webkit-inner-spin-button,
input[type="number"].no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-arrows {
  -moz-appearance: textfield;
}

.transition-all {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D7FD44; 
  border-radius: 5px;
  border: 2px solid #121212; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  margin: 20px 5px 20px 0;
  background-color: #121212; 
  border-radius: 10px;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
  z-index: 5;
}

.slide-out {
  opacity: 0;
  transform: translateY(-100%);
}

nav {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}
